<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189599021840-h0kp6j0eh788ele3qrqm0kj7vltegi3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189599021840-h0kp6j0eh788ele3qrqm0kj7vltegi3d</string>
	<key>API_KEY</key>
	<string>AIzaSyAmj-EeJr-eFk2LBp7BUUiM9j6g3Ph8jlY</string>
	<key>GCM_SENDER_ID</key>
	<string>189599021840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>djangostars.wecre8</string>
	<key>PROJECT_ID</key>
	<string>wecre8-87791</string>
	<key>STORAGE_BUCKET</key>
	<string>wecre8-87791.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189599021840:ios:8ee5a532363c211bb0c395</string>
	<key>DATABASE_URL</key>
	<string>https://wecre8-87791.firebaseio.com</string>
</dict>
</plist>